%table{ :border => 1, :cellpadding => 4, :cellspacing => 0 }
  - env.keys.sort.each do |key|
    %tr{ :style => "background-color: #{cycle('#999', '#ccc')}" }
      %td.key=   key
      %td.value= env[key]
